.button_num{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_num:hover{
    -fx-background-color: #FCFCFC;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_num:pressed{
    -fx-background-color: #F9F9F9;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_param{
    -fx-background-color: #F9F9F9;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_param:hover{
    -fx-background-color: #F6F6F6;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_param:pressed{
    -fx-background-color: #F4F4F4;
    -fx-border-color: #CACACA;
    -fx-border-radius: 5px;
}

.button_equal{
    -fx-background-color: #005A9E;
    -fx-border-radius: 5px;
}

.button_equal:hover{
    -fx-background-color: #196AA7;
    -fx-border-radius: 5px;
}

.button_equal:pressed{
    -fx-background-color: #3179AF;
    -fx-border-radius: 5px;
}
.background{
    -fx-background-color: #F3F3F3;
}

.proiz{
    -fx-graphic: url("../images/proiz.png");
}

.del{
    -fx-graphic: url("../images/div.png");
}

.ddel{
    -fx-graphic: url("../images/backspace.png");
}

.sqrt{
    -fx-graphic: url("../images/sqrt.png");
}

.square{
    -fx-graphic: url("../images/square.png");
}

.plus-munus{
    -fx-graphic: url("../images/plusminus.png");
}

.but-memory{
    -fx-background-color:  #F3F3F3;
    -fx-text-fill: #000000;
}
.but-memory:hover{
    -fx-background-color: #EAEAEA;
    -fx-text-fill: #000000;
}
.but-memory:disabled{
    -fx-text-fill: #ADADAD;
}
.but-memory:pressed{
    -fx-background-color: #EDEDED;
    -fx-text-fill: #ADADAD;;
}
.history{
    -fx-graphic: url("../images/history.png");
}